@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Mukta', sans-serif;
}
:root{
    --cor01: #FF6B35;
    --cor02: #353535;
}
body{
    background-color: rgb(228, 228, 228);
}
header#cabecalho{
    position: relative;
    height: 150px;
    background-color: var(--cor02);
    color: white;
}
h1.titulo{
    position: absolute;
    top: 25%;
    transform: translate(0, 50%);
    background-color: #FF6B35;
    width: 400px;
    text-align: center;
    font-size: 2em;
}
hr{
    height: 4px;
    background-color: var(--cor01);
    margin-bottom: 10px;
    border: none;
}
main#conteudo-principal{
    width: 900px;
    margin: auto;
    padding: 8px;
    border-radius: 10px;
    background-color: white;
}
legend{
    font-size: 23px;
    font-family: 'Bebas Neue';
    color: rgb(143, 143, 143);
}
fieldset{
    border: none;
    padding: 0px 20px;
}
.grupo-input{
    display: flex;
    justify-content: space-between;
}
.grupo-input-b{
    display: flex;
    gap: 150px;
    margin-bottom: 20px;
}
.input-item > label{
    margin-right: 50px;
}
.input-item-b{
    display: inline-block;
}
.indice{
    color: rgb(180, 180, 180);
    font-weight: bolder;
}
.padrao-num{
    display: inline-block;
    color: rgb(180, 180, 180);
}